.split-panel {
    display: flex;
    height: 100vh;
    gap: 5px;
}

.split-panel-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    border: 1px solid #27a4b6;
    box-sizing: border-box;
}

